:root {
    --basic_text: rgb(252, 171, 166);
    --border_basic_1: rgb(214, 214, 214);
    --border_basic_2: rgb(153, 147, 147);
    --basic_color_1: rgb(255, 215, 130);
    --basic_text_2: rgb(174, 154, 247);
    --gradation_1 : rgb(205, 154, 247);
    --test_1: rgb(146, 248, 214);
    --grade_1: rgb(72, 111, 238);
    --grade_gradation : rgb(130, 212, 250);

}

.serachId_wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,var(--grade_1),var(--grade_gradation));
    opacity: 0.6;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
/*serachId_wrap을 viewport로 해놨기때문에 %사용안하고 px로 */
.serachId{
    width: 500px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
    border-right: 1px solid rgb(115, 115, 116);
    border-bottom: 1px solid rgb(115, 115, 116);
    flex-direction: column;
    gap : 20px;
}

.searchId_email_wrap,.searchId_phonenumber_wrap{
    /* background-color: white; */
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap : 15px;
  /* background-color: black;/ */
  
}

.searchId_phonenumber_title,.searchId_email_title{
    width: 90%;
    height: 15%;
    /* background-color: azure; */
    font-size: 1.3em;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color :black;
}
.searchId_email_title span,.searchId_phonenumber_title span{
    height: 60%;
    
}
.input_name,.input_email,.input_phonenumber{
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    gap : 20px;
    font-weight: 500;
}

#input_name_by_email,#input_name_by_phonenumber,
#input_email_by_email,#input_email_by_phonenumber{
    background: none;
    border: none;
    border-bottom: 1px solid ;
    width: 60%;
    font-size: 1.2em;
}
.border_bar{
    width: 20%;
    height: calc(1% - 5px);
    background-color: rgb(255, 255, 255);
}
.input_name_title,.input_email_title,.input_phonehnumber_title{
    width: 100px;
   
}

#serchId_by_email_submmit, #serchId_by_email_submmit{
    width: 150px;
    height: 40px;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.76);
    border: none;
    border-right: 2px solid rgb(115, 115, 116);
    border-bottom: 2px solid rgb(115, 115, 116);
    border-radius: 7px;
    font-weight: 600;
    font-size: 1.1em;
}