:root {
    --basic_text: rgb(252, 171, 166);
    --border_basic_1: rgb(214, 214, 214);
    --border_basic_2: rgb(153, 147, 147);
    --basic_color_1: rgb(255, 215, 130);
    --basic_text_2: rgb(174, 154, 247);
    --gradation_1 : rgb(205, 154, 247);
    --test_1: rgb(146, 248, 214);
    --grade_1: rgb(72, 111, 238);
    --gradation_2 :rgb(255, 149, 88);
    --gradation_2_1 :rgb(245, 69, 69);

}
.search_password_wrap{
    width : 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    font-family: 'IBM Plex Sans KR', sans-serif;
    background: linear-gradient(to left,var(--gradation_2),var(--gradation_2_1));
    
}
.search_password{
    width: 450px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-right: 1px solid rgb(115, 115, 116);
    border-bottom: 1px solid rgb(115, 115, 116);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 20px;
}

.search_password_title{
    width: 80%;
    height: 10%;
    font-size: 1.5em;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: flex-end;

}
.search_password_content{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;

}
.search_password_byid_wrap,.search_password_name_wrap{
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 1.2em;
    align-items: center;
    
}
.search_password_byid_title,.search_password_name_title{
    width: 90px;
    font-size: 0.9em;
    font-weight: 500;
}
#search_password_name,#search_password_byid{
    width: 70%;
    /* background-color는 none이 안됨 */
    background: none;
    border: none;
    opacity: 0.7;
    border-bottom: 1px solid;
    font-size: 1em;
}
#search_password_name:focus,#search_password_byid:focus{
    outline: none;
}

.serach_password_button{
    width: 80%;
    height: 10%;
}
#serach_password_button{
    width: 120px;
    height: 40px;
    border-radius: 7px;
    background: rgba(253, 205, 205, 0.76);
    border: none;
    border-right: 2px solid rgb(115, 115, 116);
    border-bottom: 2px solid rgb(115, 115, 116);
    border-radius: 7px;
    font-weight: 600;
    font-size: 1.1em;
    
}
#serach_password_button:hover{
    cursor: pointer;
}