@media screen and (max-width: 1596px) {
}
/* 중간 걸리는 포인트 */
@media screen and (max-width: 1239px) {
}
@media screen and (max-width: 819px) {
  .nav {
    display: flex;
    justify-content: center;
  }
  .search {
    width: 60%;
  }
  .search input {
    width: 100%;
  }
  .itemListContent li:nth-of-type(4) {
    display: none;
  }
  .items {
    width: 30%;
  }
}
@media screen and (max-width: 389px) {
  body {
    background-color: darkseagreen;
  }
  .container {
    height: fit-content;
  }
  /* header */
  .company_name {
    font-size: 1.5em;
  }
  .header_wrap {
    height: 100px;
  }
  .header {
    border-left: none;
    border-right: none;
  }

  /*  */

  /* .wrap {
    max-width: calc(100% - 30px);
  } */
}
