@media screen and (max-width: 1596px) {
}
/* 중간 걸리는 포인트 */
@media screen and (max-width: 1239px) {
}
@media screen and (max-width: 819px) {
  .nav {
    display: flex;
    justify-content: center;
  }
  .search {
    width: 60%;
  }
  .search input {
    width: 100%;
  }
  .itemListContent li:nth-of-type(4) {
    display: none;
  }
  .items {
    width: 30%;
  }
}
@media screen and (min-width: 390px) {
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 389px) {
  body {
    background-color: darkseagreen;
  }
  .container {
    height: fit-content;
  }
  /* header */
  .company_name {
    font-size: 1.5em;
  }
  .header_wrap {
    height: 100px;
  }
  .header {
    border-left: none;
    border-right: none;
  }

  .pc_title {
    display: none;
  }

  .mobile {
    height: 50px;
  }

  .ItemListWrap {
    height: fit-content;
    border-bottom: none;
  }
  /* .ItemListTitle {
    height: 40px;
  } */
  .itemListContentWrap button {
    display: none;
    height: fit-content;
  }
  .itemListContent {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-right: 16px;
    margin-bottom: 15px;
  }

  .itemListContent li:nth-of-type(4) {
    display: flex;
  }
  .items {
    width: 100%;
  }
}
