/* item contentwrap */

.item_contentWrap {
  /* background-color: darkgray; */
  /* height: 2000px; */
  display: flex;
  flex-direction: column;
}

/* item info */
.item_info_wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(186, 250, 250);
}

.item_info {
  display: flex;
  flex-direction: column;
  background-color: rgb(166, 166, 240);
}

.item_basic_info {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 30%;
}
.item_basic_info span {
  flex-grow: 1;
  font-weight: 700;
  font-size: 1em;
}
.item_basic_info span:nth-of-type(1) {
  font-size: 1.5em;
}

.item_cart_wrap {
  width: 100%;
  height: 60%;
  background-color: aliceblue;
}
.item_cart {
  height: 50%;
}
.item_cart div {
  height: 50%;
}

.item_add {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: aquamarine;
}
.item_add span {
  line-height: 3;
}

/* share button */
.share_button span,
.share_button {
  width: 30px;
  height: 30px;
}
.share_button span img {
  border-radius: 7px;
  width: 28px;
  height: 28px;
}
.share_button {
  padding: 0;
}

/* itemcontent nav */
.itemcontent_nav {
  background-color: khaki;
  height: 50px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.itemcontent_nav div {
  height: inherit;
  flex-grow: 1;
  text-align: center;
  border: 1px solid black;
  line-height: 3;
}

/* Detailinfo */
.detailinfo_wrap {
  padding: 100px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.detailinfo {
  width: 90%;
}
.detailinfo img {
  width: 100%;
}
/* footer */

.footer {
  width: 100vw;
  height: 250px;
  background-color: rgb(242, 235, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
