:root {
  --accent_pink: rgb(252, 171, 166);
  --border_basic_1: rgb(214, 214, 214);
  --border_basic_2: rgb(153, 147, 147);
  --accent_yellow: rgb(255, 215, 130);
  --accent_purple: rgb(174, 154, 247);
  --accent_green: rgb(146, 248, 214);
  --accent_blue: rgb(72, 111, 238);
}
